# Scraper de Reddit - Práctica 1
# Autores: Jordi Guillem y Xairo Campos
# Fecha: Noviembre 2025

# para el scraping web
selenium
webdriver-manager

# análisis de sentimiento
vaderSentiment

# procesar los datos
pandas

# utilidades varias
python-dateutil
