# Scraper de Reddit - Práctica 2
# Autores: Jordi Guillem y Xairo Campos
# Fecha: Diciembre 2025

# procesar los datos
pandas

# valores nulos y operaciones matemáticas
numpy

# matplotlib para el cálculo de outliers
matplotlib

# modelado y estadística (notebook de análisis)
scikit-learn
scipy
seaborn
